<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  internalLogToConsole="true" internalLogLevel="Debug"
      autoReload="true">

  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="web-all" fileName="${gdc:item=logdir}/${gdc:item=domainName}-web-all.log"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception}"
            archiveAboveSize="10485760" maxArchiveFiles="100" enableArchiveFileCompression="true" archiveNumbering="DateAndSequence"
            archiveEvery="Day" />

    <target xsi:type="File" name="web" fileName="${gdc:item=logdir}/${gdc:item=domainName}-web.log"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception}"
            archiveAboveSize="10485760" maxArchiveFiles="400" enableArchiveFileCompression="true" archiveNumbering="DateAndSequence"
            archiveEvery="Day" />

    <target xsi:type="File" name="error" fileName="${gdc:item=logdir}/${gdc:item=domainName}-error.log"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${event-properties:item=linenumber}|${message} ${exception}"
            archiveAboveSize="10485760" maxArchiveFiles="60" enableArchiveFileCompression="true" archiveNumbering="DateAndSequence"
            archiveEvery="Sunday" />

    <target xsi:type="File" name="all" fileName="${gdc:item=logdir}/${gdc:item=domainName}-all.log"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${event-properties:item=linenumber}|${message} ${exception:format=tostring}"
            archiveAboveSize="10485760" maxArchiveFiles="400" enableArchiveFileCompression="true" archiveNumbering="DateAndSequence"
            archiveEvery="Day" />

	  <!-- see https://github.com/nlog/NLog/wiki/AsyncWrapper-target#async-attribute-and-asyncwrapper -->
	  <target xsi:type="AsyncWrapper" name="asyncDatabase">
		  <target xsi:type="Database" name="database" dbProvider="mssql" connectionString="${configsetting:item=Connection.DBConnection}" >
			  <commandText>
				  insert into dbo.RTSFLog(time_stamp, level, logger, line, message, exception) values(@time_stamp, @level, @logger, @line, @message, @exception);
			  </commandText>
			  <parameter name="@time_stamp" layout="${date}" />
			  <parameter name="@level" layout="${level}" />
			  <parameter name="@logger" layout="${logger}" />
			  <parameter name="@line" layout="${event-properties:item=linenumber}" />
			  <parameter name="@message" layout="${message}" />
			  <parameter name="@exception" layout="${exception:format=tostring}" />
		  </target>
	  </target>

  </targets>

  <rules>
    <logger name="LoggingMiddleware" writeTo="web" minlevel="Info" />
    <logger name="LoggingMiddleware" writeTo="web-all" final="true" />
    <logger name="*" minlevel="Error" writeTo="error" />
    <logger name="*" minlevel="Trace" writeTo="all" />
    <!--
    -->
  </rules>
</nlog>
